.userinfo-container {
	box-shadow: 0px 0px 10px #0000005e;
	padding: 0 12px 12px 12px;
	margin: 12px 12px 12px 0;
	border-radius: 5px;
}

.userinfo-container>h2 {
	border-bottom: 1px solid black;
	padding-bottom: 8px;
}
